extends ../layouts/default

block content
	.container
		hr
		h3 Our selection
			.row
				hr
				each movies in data.movies
					if(movies.Poster!=null)
						a(href='/FicheFilm/?titre='+movies.Title)
							.col-lg-3.col-md-4.col-xs-6.thumb
								img.img-fluid(src=movies.Poster, alt='Responsive image').img-rounded
			
