extends ../layouts/default
block content
	.container
		.row
			hr
			h3 Reporting
				br
				table.table
					thead.thead-default
						tr(scope='row')
							th Genre
							th Résultat
					tbody
						each movie in data.Genre
							if(movie._id!=null)
								tr(scope='row')
									th #{movie._id}
									th #{movie.count}

